<!DOCTYPE html>
<html>
	<head>
		<title>Flask and SQLite </title>
	</head>
	<style>
		table, th, td {
		border:1px solid black;
		}
		</style>
	<body>
		<table style="width:100%">
			<tr>
			<th>Name</th>
			<th>Notes</th>
			
			</tr>
			{% if session['email'] %}
		
                <h1>Welcome {{ session['email'] }}!</h1>
				{%for n in data%}
			<tr>
				<td>{{n[0]}}</td>
                 <td>{{n[1]}}</td>
				</tr>
				{%endfor%}
            {% else %}
                <h1>Session Expired Login Again <a href="{{ url_for('login') }}">here.</a></h1>
        {% endif %}
			
		</table>		
	</body>
</html>
