<!DOCTYPE html>
<html>
	<head>
		<title>Flask and SQLite </title>
	</head>
	<body>
		<h1>Build 1 Notes Web App Using Flask and SQLite</h1>
        <button class="btn" type="button" onclick="window.location.replace='join.html'">Fill form to get updates</button><br/>
        <button class="btn" type="button" onclick="window.location.href='participants.html'">Check participant list</button>
    
		<a href="join.html">
            Add your note here
        </a> 
        <br>
        <a href="participants.html">
            Check notes added 
        </a> 
	</body>
</html>
