<!DOCTYPE html>
<html>
	<head>
		<title>Flask and SQLite </title>
	</head>
	<body>
		<!-- <h1>{{ msg }}</h1> -->
		<form action="/register" method="POST">
			<label>Enter email:</label>
			<input type="email" name="email" placeholder="Enter your email" required/><br/>
			<label>Enter Firstname:</label>
			<input type="name" name="firstname" placeholder="Enter your first name" required/><br/>
			
            <label>Enter Password:</label>
			<input type="password" name="password1" placeholder="Enter here" required/><br/>
			<label>Confirm Password:</label>
			<input type="password" name="password2" placeholder="Enter here" required/><br/>
			<input type = "submit" value = "submit"/><br/>
		</form>
	</body>
</html>
